input[type="text"], input[type="email"], input[type="number"] {
    width: 50;
    padding: 10px;
    margin: 8px, 0;
    border: 2px solid lightgray;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 9px;
    text-align: center;

}



button[type="button"]{
    padding: 10px;
    margin: 5px 5px;
    border-radius: 7px;
    border-color: navy;
    color: black;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button[type="button"]:hover{
    background-color: navy;
    transition-duration: 0.5s;
    border-color: black;
    color: white;
}

input[type="reset"]{
    padding: 10px;
    margin: 5px 5px;
    border-radius: 7px;
    border-color: navy;
    color: black;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="reset"]:hover{
    background-color:navy;
    transition-duration: 0.5s;
    border-color: black;
    color: white;
}